[CSS]

[ELM]

<style>
	.css-sample {
		margin: 5px;
	}
	.css-sample > .title {
		background-color: gainsboro;
		color: darkred;
		font-family: montserrat;
		padding: 10px;
		margin: 10px 0;
	}
</style>

<div class="css-sample"><div class="title">Cards</div>

	<div class="card">

		<div class="title">Title</div>

		<figure class="image">

			<img src="https://placeimg.com/320/240/nature">

			<figcaption>Figcaption</figcaption>

		</figure>


	</div>

</div>


<div class="css-sample"><div class="title">Buttons & Links</div>

	<div>
		<button>Button</button> 
		-
		<a href="" class="button">Link Button</a>
	</div>
	<br>
	<div>
		<button class="primary">Button Primary</button> 
		- 
		<a href="" class="button primary">Link Button Primary</a>
	</p>
	
</div>

<div class="css-sample"><div class="title">Headings</div>


	<h1 class="inline">A</h1>
	<h2 class="inline">A</h2>
	<h3 class="inline">A</h3>
	<h4 class="inline">A</h4>
	<h5 class="inline">A</h5>
	<h6 class="inline">A</h6>

	<hr>

	<h1>Heading 1</h1>
	<h2>Heading 2</h2>
	<h3>Heading 3</h3>
	<h4>Heading 4</h4>
	<h5>Heading 5</h5>
	<h6>Heading 6</h6>

<div>

<div class="css-sample"><div class="title">Forms</div>
	<form method="post">

		<fieldset><legend>Datos generales</legend>
			<div class="control">
				<label for="input-text">Nombre</label>
				<input id="input-text" type="text" 
					placeholder="input text" required autofocus>
			</div>
			<div class="control">
				<label for="input-textarea">Resumen</label>
				<textarea id="input-textarea" type="time" placeholder="input textarea"></textarea>
			</div>
			<div class="control">
				<label for="input-select">Select</label>
				<select id="input-select" required>
					<option>Option 1</option>
					<option>Option 2</option>
					<option>Option 3</option>
				</select>
			</div>			
		</fieldset>

		<fieldset><legend>Datos de contacto</legend>
			<div class="control">
				<label for="input-email">Correo electrónico</label>
				<input id="input-email" type="email" 
					placeholder="input email" required autofocus>
			</div>
			<div class="control">
				<label for="input-tel">Teléfono</label>
				<input id="input-tel" type="tel" 
					placeholder="input tel" required autofocus>
			</div>
		</fieldset>

		<fieldset class="inline"><legend>Fecha y hora</legend>
			<div class="control">
				<label for="input-date">Fecha</label>
				<input id="input-date" type="date" placeholder="input date" required>
			</div>
			<div class="control">
				<label for="input-time">Hora</label>
				<input id="input-time" type="time" placeholder="input time" required>
			</div>
		</fieldset>

		<fieldset class="no-border">
			<button type="submit">Enviar</button>
		</fieldset>

	</form>
<div>

<div class="css-sample"><div class="title">Listas</div>

	<ol>
		<li>Item</li>
		<li>Item
			<ol>
				<li>Subitem</li>
				<li>Subitem</li>
				<li>Subitem</li>
			</ol>
		</li>
		<li>Item</li> 
	</ol>	

	<hr>

	<ul>
		<li>Item</li>
		<li>Item
			<ul>
				<li>Subitem</li>
				<li>Subitem</li>
				<li>Subitem</li>
			</ul>			
		</li>
		<li>Item</li> 
	</ul>

	<hr>

	<dl>
		<dt>Definition</dt>
		<dd>Item</dd>
		<dt>Definition</dt>
		<dd>Item</dd>
		<dt>Definition</dt>
		<dd>Item</dd> 
	</dl>	

</div>

<div class="css-sample"><div class="title">Párrafos</div>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tristique, mauris et malesuada fames ac turpis egestas. Proin lobortis lacinia cursus. Nam condimentum lectus a turpis vestibulum porttitor. Curabitur vel lacus ut diam ornare faucibus vel id eros.
	</p>			
	<p>
		Vivamus egestas tempor lorem, eu ornare est mollis a. Phasellus sagittis malesuada Cras sit amet suscipit velit. Nulla gravida lorem a augue auctor rutrum. In sollicitudin nisl nibh, ornare sagittis tellus elementum eu.		
	</p>
</div>


[END]