

[ELM]

<style>
	.control.name {font-size: 120%;}
</style>

<div class="gutter">
	<b>%locale-enrol-to-activity%</b>	
</div>

<form name="enrolment" method="post">	
	<input type="hidden" name="storage-key" value="%uid%">
	<input type="hidden" name="redirect" value="%home%/enrollers/%uid%">

	<fieldset><legend>%locale-activity%</legend>
		<div class="control name">%name%</div>
		<div class="control summary">%summary%</div>
		<div class="control">
			<a href="%home%/enrollers/%uid%">
				%locale-enrolments% <span class="count">%count-enrollers%</span>
			</a>
		</div>
		<div class="control">%render-duration%</div>
	</fieldset>

	<!--fieldset class="inline"><legend>%locale-enroller%</legend>		
			<input class="control" type="text" name="name" placeholder="%locale-name%">			
			<input class="control" type="text" name="surname" placeholder="%locale-surname%">
			<input class="control" type="email" name="email" placeholder="%locale-email%">
	</fieldset-->

	<fieldset class="inline"><legend>%locale-enroller%</legend>	
		<div class="control">		
			<input class="" type="text" name="name" placeholder="%locale-name%">
		</div>
		<div class="control">			
			<input class="" type="text" name="surname" placeholder="%locale-surname%">
		</div>
		<div class="control">
			<input class="" type="email" name="email" placeholder="%locale-email%">
		</div>
	</fieldset>

	<fieldset class="no-padding-top no-border" style="">
		<button>%locale-enrolme!%</button>
	</fieldset>

	<!--fieldset class="no-padding-bottom no-padding-top no-margin">
		<legend>%locale-enrolments% <span class="count">%count-enrolments%</span></legend>
	</fieldset>
	<div class="enrolments">%render-enrolments%</div-->

</form>

	
