[ELM]

<style>
	.control.name {font-size: 120%;}
</style>

<div class="gutter">		
			<!--a href="%home%/enrollers/%uid%" class="float-right"-->
			<span class="float-right">
				%locale-enrolments% <span class="count">%count-enrollers%</span>
			</span>	
			<!--/a-->
	<b>%locale-enrolment% %locale-in% %name%</b>	
</div>

<form name="enrolment" method="post">	
	<input type="hidden" name="storage-key" value="%uid%">
	<input type="hidden" name="redirect" value="%home%/enrollers/%uid%">

	<header>%locale-activity%</header>
	<section class="controls">		
		<div class="control name">%name%</div>
		<div class="control summary">%summary%</div>
		<div class="control">%render-duration%</div>
	</section>

	<header>%locale-enroller%</header>
	<section class="inline">
		<div class="control">
			<label>%locale-name%</label>		
			<input class="" type="text" name="name" placeholder="%locale-name%">
		</div>
		<div class="control">
			<label>%locale-surname%</label>
			<input class="" type="text" name="surname" placeholder="%locale-surname%">
		</div>
		<div class="control">
			<label>%locale-email%</label>
			<input class="" type="email" name="email" placeholder="%locale-email%">
		</div>
	</section>

	<div class="text-center">
		<button>%locale-enrolme!%</button>
	</div>

</form>

	
