

[ELM]

<style>
	.control.name {font-size: 120%;}
	/*.activity  {display: flex;}
	.activity > .card {margin-left: 5px;}
	.activity > .card > .name {font-size: 150%;}
	.date {
		text-align: center;
		background-color: #444;
		color: white;
		width: 110px;
		height: 110px;
		display: flex;
		flex-direction: column;		
		justify-content: space-between;
		padding: 5px 0;
	}
	.day {font-size: 300%;}
	.month {text-transform: uppercase;}*/
</style>

<div class="gutter">
	<h1>%locale-enrol-to-activity%</h1>	
</div>

<form name="enrolment" method="post">	
	<input type="hidden" name="storage-key" value="%uid%">
	<input type="hidden" name="redirect" value="%home%/enrollers/%uid%">

	<fieldset><legend>%locale-activity%</legend>
		<div class="control name">%name%</div>
		<div class="control summary">%summary%</div>
		<div class="control">
			<a href="%home%/enrollers/%uid%">
				%locale-enrolments% <span class="count">%count-enrollers%</span>
			</a>
		</div>
		<div class="control">%render-duration%</div>
	</fieldset>

	<fieldset class="inline"><legend>%locale-enroller%</legend>	
		<div class="control">		
			<input class="" type="text" name="name" placeholder="%locale-name%">
		</div>
		<div class="control">			
			<input class="" type="text" name="surname" placeholder="%locale-surname%">
		</div>
		<div class="control">
			<input class="" type="email" name="email" placeholder="%locale-email%">
		</div>
	</fieldset>

	<fieldset class="no-padding-top no-border" style="">
		<button>%locale-enrolme!%</button>
	</fieldset>

	<!--fieldset class="no-padding-bottom no-padding-top no-margin">
		<legend>%locale-enrolments% <span class="count">%count-enrolments%</span></legend>
	</fieldset>
	<div class="enrolments">%render-enrolments%</div-->

</form>

	
