[INI]
<style>
	.activity {
		
	}
	.activity > .date {
		float: left;
		margin-right: 15px;
	}
	.activity > .card > .link {		
		line-height: 2;
		text-decoration: underline;
	}
	.activity > .card > .name {font-size: 150%;}
	.date {
		text-align: center;
		background-color: #444;
		color: white;
		width: 90px;
		height: 90px;
		display: flex;
		flex-direction: column;		
		justify-content: space-between;
		padding: 5px 0;
	}
	.year {font-size: 90%;}
	.day {font-size: 200%;}
	.month {font-size: 90%; text-transform: uppercase;}
</style>

<nav class="toolbar">
	<a href="%home%" class="button wauto">
		<span class="icon-arrow-left"></span>
	</a>
	<span class="title">
		%locale-enrolments% <span class="count">%count-enrollers%</span>
	</span>
</nav>

<div class="-no-screen activity gutter -no-padding-left">
	<button class="float-right wauto no-screen">
		<span class="icon-cog"></span>
	</button>
	<div class="date">
		<div class="year">%render-start-year%</div>
		<div class="day">%render-start-day%</div>
		<div class="month">%render-start-month%</div>
	</div>
	<div class="card">		
		<div class="name">%name%</div>
		<div class="summary">%summary%</div>
		<div class="duration">%render-duration%</div>
		<div class="link"><a href="%host%/in/%uid%">
			<span  class="icon-external-link"></span> %host%/in/%uid%
		</a></div>
	</div>
</div>

<table>
	<!--caption>
		%locale-enrolments% <span class="count">%count-enrollers%</span>
	</caption-->

[ELM]
<tr>
	<!--td class="wauto text-right">%position%#</td-->
	<td>
		%name% %surname%
		<div>%email%</div>
		<div>%render-created%</div>
	</td>
	<td class="wauto">
		<button class="float-right wauto">
			<span class="icon-cog"></span>
		</button>
	</td>
</tr>

[END]
</table>

<!--p class="text-center">
	<a class="button" href="%home%/in/%uid%">%locale-enrolme!%</a>
</p-->	