[INI]
<style>
	.activity  {display: flex;}
	.activity > .card {margin-left: 5px;}
	.activity > .card > .name {font-size: 150%;}
	.date {
		text-align: center;
		background-color: #444;
		color: white;
		width: 110px;
		height: 110px;
		display: flex;
		flex-direction: column;		
		justify-content: space-between;
		padding: 5px 0;
	}
	.day {font-size: 300%;}
	.month {text-transform: uppercase;}
</style>

<h1 class="gutter">Actividades abiertas</h1>

<table>

[ELM]
<tr>
	<td class="wauto">%render-start-date%</td>
	<td>
		<div class="name">%name%</div>
	</td>
	<!--td class="wauto">
		<a href="%home%/in/%uid%">%locale-editar%</a>
	</td-->
	<td class="wauto">
		<a class="button small" href="%home%/enrollers/%uid%">
			%locale-enrolments%
			<span class="count">%count-enrollers%</span>			 
		</a>
	</td>

</tr>
[END]
</table>

