[INI]
<style>
	.activity-name {font-size: 110%;}
	.activity-summary {font-size: 90%;}
	.activity-duration {font-size: 90%;}
</style>

<table>

	<caption>
		%locale-activities%
	</caption>

[ELM]
<tr>
	<!--td class="wauto activity-date">%render-start-date%</td-->
	<td class="">
		<a href="%home%/enrollers/%uid%">		
		<div class="activity-name">
			<span class="count float-right">%count-enrollers%</span>
			%name%</div>		
		<div class="activity-summary">%summary%</div>
		<div class="activity-duration">%render-duration%</div>
		</a>

		<!--p style="display:flex">
			<a class="button small" href="%home%/edit/%uid%">
			%locale-editar%</a> &nbsp;
			<a class="button small" href="%home%/enrollers/%uid%">
			%locale-enrolments%
			<span class="count">%count-enrollers%</span></a>
		</p-->

	</td>
	<!--td class="wauto">
		<a href="%home%/in/%uid%">%locale-editar%</a>
	</td-->
	<!--td class="wauto">
		<a class="button small" href="%home%/enrollers/%uid%">
			%locale-enrolments%
			<span class="count">%count-enrollers%</span>			 
		</a>
	</td-->

</tr>
[END]
</table>

