[INI]
<style>
	td {--vertical-align: bottom;}
	.activity-name {font-size: 110%;}
	.activity-summary {font-size: 90%;}
	.activity-duration {font-size: 90%;}

	/*.activity  {display: flex;}
	.activity > .card {margin-left: 5px;}
	.activity > .card > .name {font-size: 150%;}
	.date {
		text-align: center;
		background-color: #444;
		color: white;
		width: 110px;
		height: 110px;
		display: flex;
		flex-direction: column;		
		justify-content: space-between;
		padding: 5px 0;
	}
	.day {font-size: 300%;}
	.month {text-transform: uppercase;}*/
</style>

<table>

	<caption>
		Actividades abiertas
	</caption>

[ELM]
<tr>
	<!--td class="wauto activity-date">%render-start-date%</td-->
	<td class="">		
		<div class="activity-name">%name%</div>		
		<div class="activity-summary">%summary%</div>
		<div class="activity-duration">%render-duration%</div>

		<p><a class="button small" href="%home%/enrollers/%uid%">
			%locale-enrolments%
			<span class="count">%count-enrollers%</span>			 
		</a></p>

	</td>
	<!--td class="wauto">
		<a href="%home%/in/%uid%">%locale-editar%</a>
	</td-->
	<!--td class="wauto">
		<a class="button small" href="%home%/enrollers/%uid%">
			%locale-enrolments%
			<span class="count">%count-enrollers%</span>			 
		</a>
	</td-->

</tr>
[END]
</table>

